---

---

<!DOCTYPE html>
<html lang="en">
  <body class="min-h-screen flex flex-col">    
    <main class="grow m-2">
      <div class="flex items-center h-screen">
        <div class="text-center w-screen">
          <span class="relative">
            <span
              class="block absolute -inset-1 -skew-y-2 bg-[#FF240E] h-[5rem] -my-[2.4rem]"
              aria-hidden="true"></span>
            <span class="relative text-white font-bold text-7xl">bobae kang</span>
          </span>
          <div class="mt-8">product engineer building quality & impactful software</div>
        </div>
      </div>

    </main>
  </body>
</html>