---
import type { CollectionEntry } from "astro:content";
import { compareBlogEntriesByPubDate } from "../utils";
import Link from "./Link.astro";
import FormattedDate from "./FormattedDate.astro";
import FormattedTags from "./FormattedTags.astro";

interface Props {
  posts: CollectionEntry<"blog">[];
  recentOnly?: boolean;
}

const { posts, recentOnly } = Astro.props;
---

<ul class="grid gap-y-4 ">
  {
    posts
      .sort(compareBlogEntriesByPubDate)
      .slice(0, recentOnly ? 3 : undefined)
      .map((post) => (
        <li class="block">
          <FormattedDate date={post.data.pubDate} />
          <a href={`/blog/${post.slug}/`}>
            <h4 class="font-bold hover:underline hover:text-blue-400">
              {post.data.title}
            </h4>
          </a>
          <FormattedTags
            tags={post.data.tags}
            cutoff={recentOnly ? 2 : undefined}
          />
        </li>
      ))
  }
  {
    recentOnly && (
      <li>
        <Link href="/blog" class="block hover:text-blue-400 hover:underline">
          Read more...
        </Link>
      </li>
    )
  }
</ul>
