---
interface Props {
  tags?: string[];
  cutoff?: number;
}
const { tags = [], cutoff } = Astro.props;
---

{
  tags.length > 0 && (
    <span class="text-gray-400">
      {tags.slice(0, cutoff).map((tag) => (
        <a
          href={`/blog/tags/${tag}`}
          class="hover:text-blue-400 hover:underline"
        >
          #{tag}
        </a>
      ))}
      {cutoff && cutoff > 0 && tags.length > cutoff && (
        <span>+{tags.length - cutoff}</span>
      )}
    </span>
  )
}
