---
import { SITE_TITLE } from '../consts'
import HeaderLink from './HeaderLink.astro'
---

<header class="max-w-[80ch] mx-auto w-full h-[4rem]">
  <nav class="flex items-baseline gap-12 py-4">
    <span class="relative">
      <span
        class="block absolute -inset-1 -skew-y-3 h-[1.5rem] my-[.6rem] bg-linear-[150deg] from-[#FF2402] via-[#FF2402] to-[#1ED760]"
        aria-hidden="true"></span>
      <span class="relative text-white font-bold text-xl">{SITE_TITLE}</span>
    </span>
    <div class="flex gap-4">
      <HeaderLink href="/">home</HeaderLink>
      <HeaderLink href="/blog/">blog</HeaderLink>
    </div>
  </nav>
</header>
