---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'a'>

const { href, ...props } = Astro.props

const { pathname } = Astro.url
const isActive = String(href).split('/')[1] === pathname.split('/')[1]
const activeClass = 'border-b-2 border-black dark:border-white'
---

<a
  href={href}
  class:list={[
    'pb-1 hover:border-b-2 hover:border-black dark:hover:border-white',
    isActive && activeClass,
  ]}
  {...props}
>
  <slot />
</a>
